@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@600&display=swap');

.search-bar{
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: #4b4f54;
    height: 10vh;
}

.search-bar input{
    width: 35vw;
    height: 2em;
    padding: 5px;
    margin-top: 25px;
    border: none;
}

.search-bar button{
    height: 37px;
    color: black;
    padding: 5px 10px;
    margin-top: 25px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-bar button:hover{
    background-color: #ccc;
}

.search_results{
    margin-top: 25px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

.search_results .noResults{
    grid-column: 1 / span 2;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.recipeBox{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    background-color: #e6e5e3;
    box-shadow: 5px 10px #bab7ad;
    width: 35vw;
    height: 35vh;
    margin: 15px 0px;
    opacity: 0.7;
    cursor: pointer;
}

.recipeBox:hover{
    opacity: 1;
}

.recipeBox p{
    font-size: 11px;
    padding: 5px;
}

.recipeBox .recipeTitle{
    color: blue;
    padding: 5px;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recipeBox .ingredients{
    font-size: 14px;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 35px;
}

.recipeBox .ingredients span{
    font-weight: bold;
}

.recipeBox .instructions{
    font-size: 14px;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recipeBox .instructions span{
    font-weight: bold;
}

.recipeBox .recipeBtn{
    font-family: 'Raleway', sans-serif;
    height: 45px;
    width: 90%;
    border-radius: 10px;
    background-color: #316911;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 25px;
    margin-right: 25px;
    cursor: pointer;
    position: absolute;
    left: 5%;
    bottom: 5px;
}

@media screen and (max-height: 900px){
    .recipeBox{
        position: relative;
    }
}

@media screen and (max-height: 800px){
    .recipeBox{
        position: relative;
    }

    .recipeBox .ingredients{
        display: none;
    }

    .recipeBox .instructions{
        display: none;
    }
}

@media screen and (max-width: 800px){
    .search_results{
        grid-template-columns: 1fr;
    }

    .recipeBox{
        width: 75vw;
        opacity: 1;
    }

    .recipeBox .recipeBtn{
        width: 90%;
    }
}

@media screen and (max-width: 350px){
    .search-bar input{
        font-size: 10px;
    }

    .search-bar button{
        height: 30px;
    }

    .search_results .noResults{
        font-size: 14px;
    }
}
